body
{
	color: #777777;
}

input
{
	color: #cccccc;
}

a:link, a:visited, a:hover, a:active
{
	color: #777777;
}

a.itemBanner
{
	color: white;
	text-decoration: none;
}

.textLinks
{
	float: right;
	margin-top: 20px;
	margin-right: 50px;
}

.button
{
	background-color: #4aaaa5;
	width: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	color: white;
}

.headerName
{
	float: left;
	background-color: #4aaaa5;
	color: #ffffff;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 50px;
	font-size: 20px;
}

.portfolioItem
{
	float: left;
	margin: 20px;
}

.itemBanner
{
	text-align: center;
	color: white;
	background-color: #4aaaa5;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 256px;
	margin-left: -256px;
	margin-top: 200px;
	position: absolute;
}


#contentHeader
{
	color: #4aaaa5;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-color: #dddddd;
	border-style: solid;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	font-size: 30px;
}

#Content
{
	width: 60%;
	float: left;
	background-color: white;
	border-radius: 1px;
	border-color: #dddddd;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
}

#externalLinks
{
	width: 20%;
	float: right;
	background-color: white;
	padding-top: 20px;
	padding-right: 20px;
	margin-top: 20px;
	margin-right: 40px;
	margin-bottom: 500px;
}

#externalLinksHeader
{
	text-align: center;
	color: #4aaaa5;
	margin-left: 20px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	border-color: #dddddd;
	border-style: solid;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
}

#externalLinksBody
{
	padding-top: 15px;
	padding-bottom: 30px;
	padding-left: 20%;
}

#header
{
	width: 100%;
	background-color: white;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #cccccc;
	overflow: auto;
}

#footer
{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #4aaaa5;
	background-color: #666666;
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 10px;
	text-align: center;
}